body {
    background: black;
}

aside {
    float: left;
    background: black;
    width: 175px;
    padding: 0.5%;
    height: 100vh;
    color: #008500;
    border-right: 2px solid #008500;
}

aside li {
  list-style-type: none;
  transition: all .1s ease;
  /* Убираем маркеры */
}

aside i {
   margin-right: 5px;
   font-size: 28px;
   width: 33px;
}

aside ul li:hover, aside ul a:hover {
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #008500;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: center;
    width:75%;
    height:100%;
    display: flex;
    flex-direction:column;
}

.makima {
    width: 150px;
    height: 10%;
}

.pizdec {
    width: 100%;
    height: 30%;
}

.spisok {
    color: #007500;
    text-decoration: none;
}

.spisok:hover {
    color: #009000;
    text-decoration: none;
}

.btn-hack{
    color: #005500;
    width: 200px;
    padding: 6px;
    border-radius:8px;
}
.btn-hack:hover{
    background: #005E00;
    border-radius:12px;
    color: #FFF;
    cursor: pointer;
}